
.top-15 {
    margin-top: 15px;
}

#banner {

    /*height: 175px;*/
    background: #4ED3D0;
    margin-bottom: 0px;
}

#banner > div > div > h1 {

    padding-top: 50px;

    font-family: 'Satisfy', cursive;

    font-size: 60px;

    padding-bottom: 30px;

    font-weight: 500;

    color: #FFFFFF;
}