@import com.thatjessicaiknow.server.actions.Authentication.LoggedInUser
@import com.thatjessicaiknow.server.actions.Authentication.AuthUser

@(heading: String,loggedInUser: AuthUser, scripts: Option[Html] = None, css: Option[Html] = None)(content: Html)

@main("Admin",Some(loggedInUser),scripts,css){

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>@heading</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="list-group">
          <div class="list-group-item">
            <a href="@com.thatjessicaiknow.server.controllers.admin.routes.AdminMakeupTypeController.index()">Makeup Types</a>
          </div>
          <div class="list-group-item">
            <a href="@com.thatjessicaiknow.server.controllers.admin.routes.AdminMakeupController.index()">Makeup</a>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        @content
      </div>
    </div>
  </div>
}