@import com.thatjessicaiknow.shared.common.Repo.Page
@import com.thatjessicaiknow.shared.makeup.Makeups.MakeupType
@import views.html.common.pageLink
@import views.html.common.sortBy
@import views.html.common.sortIcon

@import com.thatjessicaiknow.server.common.SortBy
@import com.thatjessicaiknow.server.actions.Authentication.AuthUser
@(authUser: AuthUser,_page: Page[MakeupType])(implicit req: Request[_])

@adminLayout("Admin Makeup Types",authUser){

  <div class="row">
    <div class="col-lg-12">
      <a href="@com.thatjessicaiknow.server.controllers.admin.routes.AdminMakeupTypeController.getCreate()">Create New</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><a href="?@SortBy(req,"name")">Name @sortIcon(req,"name")</a></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @_page.items.map { _type =>
              <tr>
                <td>@_type.name</td>
                <td><a href="@com.thatjessicaiknow.server.controllers.admin.routes.AdminMakeupTypeController.getEdit(_type.id.value)">Edit</a></td>
                <td><a href="@com.thatjessicaiknow.server.controllers.admin.routes.AdminMakeupTypeController.getDelete(_type.id.value)">Delete</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <ul class="pagination">
          <li><a href="?@pageLink(req,1)">first</a></li>
          <li><a href="?@pageLink(req,_page.previousPage)">prev</a></li>
          <li class="disabled"><a>@_page.page</a></li>
          <li><a href="?@pageLink(req,_page.nextPage)">next</a></li>
          <li><a href="?@pageLink(req,_page.totalPages)">last</a></li>
        </ul>
      </div>
    </div>
  </div>

}



