@import com.thatjessicaiknow.shared.makeup.Makeups.MakeupType
@import helper._

@import com.thatjessicaiknow.server.actions.Authentication.AuthUser

@(authUser: AuthUser,_form: Form[MakeupType],_action: Call)(implicit requestHeader: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b3.inline.fieldConstructor()}

@adminLayout("Makeup Type",authUser){

  @_form.globalErrors.map { e =>
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-danger">
          @e.message
        </div>
      </div>
    </div>
  }

  <div class="row">
    <div class="col-lg-12">
      @b3.vertical.form(action = _action){ implicit vfc =>

        @CSRF.formField

        @b3.hidden(_form("id.value"))

        @b3.text(_form("name"),'placeholder -> "name")

        @b3.submit('class -> "btn btn-default"){ Submit }
      }
    </div>
  </div>
}